<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group" >
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
        <!-- wp:pattern {"slug":"faithlakecity/general-home"} /-->
    <!-- wp:pattern {"slug":"faithlakecity/general-two-column-image-text"} /-->
    <!-- wp:pattern {"slug":"faithlakecity/general-two-column-text-image"} /-->
    </div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->